/* General */
:root {
    --blanco: #EBEBEB;
    --rojo: #D40600;
    --azul: #345BA3;
    --negro: #000000;
    --azul2: #345BA3;
    --secundary: green;

    /* Colores de HM */
    --logo: #D40600;
    --color1: #152959;
    --color2: #345BA3;
    --color3: #EBEBEB;

}



.contenedor {
    width: 1200px;
    margin: auto;
}

/* Fin General */


h1 {
    font-size: 38px;
    text-align: center;
    color: darkred;
    font-weight: bold;

}


h2 {
    padding: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    text-align: center;
}

.nav_principal {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 130px;
    margin-left: 150px;
}

.nav_principal a {
    color: var(--logo);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.nav_principal a:hover {
    color: var(--negro);
    background-color: var(--primary);
}




.divLogo{
    position: absolute;
    margin-top: 35px;
    margin-left: 60px;
}


.navegacion img {
    height: 100px;
    width: 100px;

}
.navImg{
    max-width: 40px;
    max-height: 40px;
    margin-left: 90px;
    margin-top: 40px;
}

.segNav{
    position: absolute;
    margin-left: 1000px;
    margin-bottom: 150px;
    
}
.logo{
    max-width: 90px;
    max-height: 90px;
}